<section class="min-h-screen py-14">
    <h2 class="text-center py-5 text-4xl text-[#8B5E35] font-bold">Products</h2>
    <div class="container w-3/4">
        <div class="products grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-3">
            @for(product of productsList | paginate: { id: 'foo',
                                                      itemsPerPage: pageSize,
                                                      currentPage: p,
                                                      totalItems: total }; track product.id) {
                <app-card [product]="product"></app-card>
            }
        </div>
        <div class="flex justify-center items-center">
            <pagination-controls class="my-pagination"  id="foo"
                      (pageChange)="getAllProductsData($event)">
</pagination-controls>
        </div>
    </div>
</section>