<section>
    <owl-carousel-o [options]="mainSliderOptions">
    <ng-template carouselSlide>
        <img src="/images/img7.avif" class="w-full" alt="">
    </ng-template>
    <ng-template carouselSlide>
        <img src="/images/img6.avif" class="w-full" alt="">
    </ng-template>
    <ng-template carouselSlide>
        <img src="/images/img7.avif" class="w-full" alt="">
    </ng-template>
    <ng-template carouselSlide>
        <img src="/images/img2.avif" class="w-full" alt="">
    </ng-template>
  </owl-carousel-o>
</section>
