<section class="min-h-screen py-14 bg">
    <div class="container w-3/4 m-auto">
        <h1 appHighlight class="text-center py-5 text-4xl text-[#8B5E35] font-bold">Sub-Categories of {{categoryName}}</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-3 my-5">
        @for (subCategory of subCategoriesList; track subCategory._id) {
            <div class="subCategory-item second-txt-color overflow-hidden group/card">
                <div class="max-w-full bg-white border border-[#8B5E35] rounded-lg shadow-md cursor-pointer relative">
                    <div class="p-5">
                        <a class="flex items-center justify-center">
                            <h5 class="text-xl text-center font-semibold tracking-tight"> {{subCategory.name}} </h5>
                        </a>
                    </div>
                </div>

            </div>
        }@empty {
             <div class="subCategory-item second-txt-color overflow-hidden group/card">
          <div
            class="max-w-full bg-white border border-[#8B5E35] rounded-lg shadow-md relative"
          >
            <div class="p-5 flex items-center justify-center">
              <h5 class="text-xl text-center font-semibold tracking-tight text-gray-500">
                No Sub-Categories available for this category
              </h5>
            </div>
          </div>
        </div>
        }
    </div>
    </div>
</section>
