<section class="min-h-screen py-10 flex flex-wrap justify-center items-center">
    <div class="container text-white w-[90%]">
        <h1 class="mb-2 text-4xl md:text-7xl">Elevate Your Style with <br>The Latest Trends</h1>
    <p class="md:w-1/2 mb-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, aut obcaecati. Eos exercitationem iste officiis
        doloremque eligendi mollitia cum officia alias dignissimos! In ipsam nihil, assumenda, exercitationem accusamus
        sunt nobis accusantium cupiditate harum amet obcaecati!</p>
    <button class="btn-main-style">Shop Now</button>
    </div>
</section>