<section class="min-h-screen py-14 bg">
    <h2 appHighlight class="text-center py-5 text-4xl text-[#8B5E35] font-bold">Wishlist</h2>
    <div class="container w-3/4">
        <div class="products grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-3">
            @for(product of wishList; track product.id) {
                <app-card [product]="product"
                          [isFavourite]="wishlistIds.includes(product._id)"
                          (favouriteToggled)="removeWishlistItem($event)"></app-card>
            }@empty {
                <div class="max-w-full bg-white border border-gray-200 rounded-lg shadow-md p-4 animate-pulse">
            <!-- Image placeholder -->
            <div class="w-full h-40 bg-gray-300 rounded-md mb-4"></div>
            <!-- Title placeholder -->
            <div class="h-4 bg-gray-200 rounded w-3/4 mb-2"></div>
            <!-- Price placeholder -->
            <div class="h-4 bg-gray-200 rounded w-1/2 mb-4"></div>
            <!-- Button placeholder -->
            <div class="h-10 bg-gray-300 rounded-md"></div>
          </div>
            }
        </div>
    </div>
</section>