<footer class="bg-footer text-white">
  <div class="mx-auto w-full">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 px-4 py-6 lg:py-8">
      <div>
        <h2 class="mb-6 text-2xl font-medium">Trendify</h2>
        <p class="text-sm third-txt-color">
          Join our newsletter to stay up to date on features and releases
        </p>
        <div class="w-fit">
          <form class="w-full mx-auto flex justify-start items-center gap-2 mt-4">
          <input type="email" id="email"
            class="flex-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#8B5E35] focus:border-[#8B5E35] px-2 md:px-5 py-2.5"
            placeholder="Enter your email" required />
          <button type="submit"
            class="bg-[#8B5E35] border border-[#8B5E35] text-white rounded-lg px-2 md:px-5 py-2.5 
                   hover:bg-transparent hover:text-[#8B5E35] focus:bg-transparent focus:text-[#8B5E35] focus:ring-1 focus:ring-[#8B5E35]">
            Subscribe
          </button>
        </form>
        </div>
        <h5 class="mt-3 text-sm">
          By subscribing you agree to our privacy policy and provide consent to receive updates from our company
        </h5>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-3 gap-8">
        <div>
          <h2 class="mb-6 text-lg font-semibold">About Us</h2>
          <ul class="text-[16px] font-normal">
            <li class="mb-4"><a href="#" class="hover:underline">FAQ</a></li>
            <li class="mb-4"><a href="#" class="hover:underline">Contact</a></li>
            <li class="mb-4"><a href="#" class="hover:underline">Returns</a></li>
            <li class="mb-4"><a href="#" class="hover:underline">Blog</a></li>
            <li class="mb-4"><a href="#" class="hover:underline">Shipping</a></li>
          </ul>
        </div>

        <div>
          <h2 class="mb-6 text-lg font-semibold">Customer Support</h2>
          <ul class="text-[16px] font-normal">
            <li class="mb-4"><a href="#" class="hover:underline">Affiliates</a></li>
            <li class="mb-4"><a href="#" class="hover:underline">Apple Pay Payments</a></li>
            <li class="mb-4"><a href="#" class="hover:underline">Returns</a></li>
            <li class="mb-4"><a href="#" class="hover:underline">Returns Policy</a></li>
            <li class="mb-4"><a href="#" class="hover:underline">Shipping</a></li>
          </ul>
        </div>

        <div>
          <h2 class="mb-6 text-lg font-semibold">Follow Us</h2>
          <ul class="text-[16px] font-normal">
            <li class="mb-4"><i class="fa-brands fa-facebook me-2"></i><a href="#" class="hover:underline">Facebook</a></li>
            <li class="mb-4"><i class="fa-brands fa-instagram-square me-2"></i><a href="#" class="hover:underline">Instagram</a></li>
            <li class="mb-4"><i class="fa-brands fa-twitter me-2"></i><a href="#" class="hover:underline">Twitter</a></li>
            <li class="mb-4"><i class="fa-brands fa-linkedin me-2"></i><a href="#" class="hover:underline">LinkedIn</a></li>
          </ul>
        </div>
      </div>

    </div>

    <div class="px-4 py-6">
      <span class="text-sm text-gray-500 dark:text-gray-300 sm:text-center">
        © 2023 <a href="/">Trendify™</a>. All Rights Reserved.
      </span>
    </div>
  </div>
</footer>
